import os
import sys
import math
import wave
import random
import tkinter as tk
from tkinter import filedialog, colorchooser, messagebox
import customtkinter as ctk
import numpy as np
import time
import threading
import pygame
import librosa
from pydub import AudioSegment
import simpleaudio as sa

import traceback
from __main__ import animate
from PIL import Image, ImageDraw
import bisect
from collections import defaultdict